In [13]:
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine,inspect,Column, Integer, String, Float

In [14]:
engine = create_engine('sqlite:///soybean.sqlite')
Base = automap_base()
Base.metadata.create_all(engine)
class Futures(Base):
    __tablename__ = 'futures'
    date = Column(String(255))
    price = Column(Float(255))

In [17]:
import pandas as pd
futures_prices = pd.read_csv("corn_soy_futures.csv")
futures_prices.head()

      Date  CornPrice  SoyPrice  ratio
0  5/29/18     400.00  1,033.25   2.58
1  5/28/18     408.75  1,045.75   2.56
2  5/25/18     406.00  1,042.00   2.57
3  5/24/18     404.25  1,035.75   2.56
4  5/23/18     408.50  1,039.25   2.54

In [10]:
soybean_price = pd.read_csv("soybean price.csv")
soybean_price.head()

       Date   Price
0   12/5/68  2.4375
1   12/6/68  2.4475
2   12/9/68  2.4363
3  12/10/68  2.4375
4  12/11/68  2.4463

In [13]:
# create soybean price class:
class SoybeanPrice(Base):
    __tablename__= "soybean_price"
    date = Column(Date)
    price = Column(Float)

In [15]:
instance = SoybeanPrice(date = soybean_price["Date"],price = soybean_price["Price"])
instance

In [16]:
conn = engine.connect()

In [17]:
Base.metadata.create_all(engine)

In [18]:
from sqlalchemy.orm import Session
session = Session(bind=engine)

In [19]:
session.add(instance)

UnmappedInstanceError: Class '__main__.SoybeanPrice' is not mapped